<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> 
		<span class="navbar-toggler-icon"> </span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link active" href="/"> Accueil </a>
			</li>

		{% if app.user %}
			<li class="nav-item active">
				{# <a class="nav-link active" href="{{ path('admin_category') }}">Liste départements
				</a> #}
			</li>
		{% endif %}

			{% if is_granted('ROLE_STAFF') %}

			{# <li class="nav-item">
				<a class="nav-link" href="{{path('admin_ajoutProduit')}}">Ajout Ville</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{path('admin_ajoutCategorie')}}">Ajout Département</a>
			</li> #}

			{% endif %}
		</ul>
	</div>
        {# {% if app.user %}
        <div class="d-flex">
            <button class="btn btn-outline-warning my-2 my-sm-0"> {{ app.user.email }}</button>
            <button class="btn btn-outline-danger" type="submit"> <a href="{{ path('app_logout') }}"> Déconnexion </a></button>
        </div>
        {% endif %}

        {% if app.user is null %}
        <div class="d-flex">
            <button class="btn btn-outline-info" type="submit"> <a href=" {{ path('app_login') }} "> Connexion </a></button>
        </div>
        {% endif %} #}
</nav>
